:root { 
  --keyboard-width: 36vw;
  --keyboard-height: 22vh;
  --background-color: beige;
  --activation-color: white;
}

body {
  background-color: var(--background-color);
}

.keyboard-container {
  width: var(--keyboard-width);
  height: var(--keyboard-height);
  margin-top: 35vh;
  margin-left: 24vw;  
  display: grid;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@keyframes key-activated {
  0% {
    border: rgb(161, 161, 145);
  }
  50% { 
    border: white;
  }
  100% {
    border: rgb(161, 161, 145);
  }
}

.key { 
  height: 95%;
  width: 3vw; 
  /* 1/12 keyboard-width */
  background-color: rgb(209, 209, 189);
  border: solid 2px rgb(161, 161, 145);
  color: rgb(109, 109, 98);
  border-radius: 5px;
  display: flex;
  align-items: center; /* Vertical alignment */
  justify-content: center;
}

.key-pressed {
  animation: key-animation 0.5s infinite;
}

.key:hover {
  border: solid rgb(16, 192, 192) 2px;
  color: rgb(16, 192, 192);
  background-color: rgb(252, 252, 252);
  transition: all 0.5s;
}

@keyframes key-animation {
  0% {
    background-color: rgb(209, 209, 189);
    border: solid 2px rgb(161, 161, 145);
    color: rgb(109, 109, 98);
  }
  50% {
    border: solid rgb(16, 192, 192) 2px;
    color: rgb(16, 192, 192);
    background-color: rgb(252, 252, 252);
  }
  100% {
    background-color: rgb(209, 209, 189);
    border: solid 2px rgb(161, 161, 145);
    color: rgb(109, 109, 98);
  }
}


.col-span-2-rhs {
  grid-column: 11 / span 2;
  width: 6.2vw;
}

.empty { 
  background-color: transparent;
  border: none;
}

.col-span-2-lhs {
  grid-column: 2 / span 2;
  width: 6.2vw;
}

.space {
  grid-column: 5 / span 4;
  width: 12.9vw;
}


.second-row-offset {
  margin-left: 0vw;
}


.large {
  flex: 2; /* Twice as big column */
}