body {
  background-color: beige;
}

.keyboard-container {
  background-color: black;
  width: 50vw;
  height: 40vh;
  margin-top: 20vh;  
  display: grid;
  grid-template-rows: repeat(4, 1fr); /* Four rows with equal fractions of available space */
}

.row { 
  background-color: white;
  border: red solid 2px;
}


.column {
  flex: 1;
  height: 100%;
  width: 5vw;
  border: 1px solid #000; /* Optional: Just to visualize the columns */
}

.large {
  flex: 2; /* Twice as big column */
}