@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root { 
  --keyboard-width: 36vw;
  --keyboard-height: 22vh;
  --background-color: beige;
  --activation-color: white;
  --border-color: rgb(161, 161, 145);
  --large-font: 3.3rem;
}



body {
  background-color: var(--background-color);
  margin: 0px;
  padding: 0px;
}

.keyboard-container {
  width: var(--keyboard-width);
  height: var(--keyboard-height);
  margin-top: 10vh;
  margin-left: 27vw;  
  display: grid;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.main-container { 
  margin-top: 25vh;
  margin-left: 10vw;
  width: 80vw;
  height: 20vh;
  background-color: beige;
  display: flex;
  flex-direction: column;
  font-size: var(--large-font);
  font-family: 'Quicksand', sans-serif;


}

.row { 
  flex: 1;
  width: 100%;
  height: 50%; /* Each row takes 50% of the container height */
  border: solid 2px var(--border-color);
  border-radius: 20px;
  display: flex;
  align-items: center; /* Vertical alignment */
  justify-content: center;
}

/* .row-1 */

.row-2 {
  border: none;
}

input {
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  border: beige;
  font-size: var(--large-font);

}

.key { 
  height: 95%;
  width: 3vw; 
  /* 1/12 keyboard-width */
  background-color: rgb(209, 209, 189);
  border: solid 2px rgb(161, 161, 145);
  color: rgb(109, 109, 98);
  border-radius: 5px;
  display: flex;
  align-items: center; /* Vertical alignment */
  justify-content: center;
}

.key-pressed {
  animation: key-animation 1s;
}

.key:hover {
  border: solid rgb(16, 192, 192) 2px;
  color: rgb(16, 192, 192);
  background-color: rgb(252, 252, 252);
  transition: all 0.5s;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.3);

}

@keyframes key-animation {
  0% {
    background-color: rgb(209, 209, 189);
    border: solid 2px rgb(161, 161, 145);
    color: rgb(109, 109, 98);
  }
  10% {
    border: solid rgb(16, 192, 192) 2px;
    color: rgb(16, 192, 192);
    background-color: rgb(252, 252, 252);
    box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.3);

  }
  100% {
    background-color: rgb(209, 209, 189);
    border: solid 2px rgb(161, 161, 145);
    color: rgb(109, 109, 98);

  }
}


.col-span-2-rhs {
  grid-column: 11 / span 2;
  width: 6.2vw;
}

.empty { 
  background-color: transparent;
  border: none;
}

.col-span-2-lhs {
  grid-column: 2 / span 2;
  width: 6.2vw;
}

.space {
  grid-column: 4 / span 5;
  width: 15.85vw;
}


.second-row-offset {
  margin-left: 0vw;
}


.large {
  flex: 2; /* Twice as big column */
}